body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(/assents/resouce/kinalremaje.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    padding: 10px;
}

nav {
    color: #fff;
    padding: 10px;
}

nav a {
    color: #fff;
    font-weight:bold;
    text-decoration: none;
    margin: 0 10px;
}
section {
    padding: 20px;
}

footer {
    background-color:rgb(0, 40, 85);
    color: #fff;
    text-align: center;
    padding: 10px;
    background-color:  #212a31;
    position: relative;
    bottom: 0;
    margin: 0;
}

.inicio{
    height: 550px;
}

.Plataforma{
    padding-top: 90px;
    text-align: center;
    color:white;
    background-color: rgb(0, 40, 85);
    opacity: 100;
    height: 1500px;
}

.Plataforma h2{
    font-size: 50px;
    font-family: wfont_128120_135e371b3c8a4cc784e9ad57ce259413,wf_135e371b3c8a4cc784e9ad57c,orig_gloss_and_bloom;
}

.table img{
    margin-left: 50px;
    opacity: 100;
}

.table p{
    margin-left: 30px;
    height: 100px;
    width: 400px;
}

.kinal{
    height: 600px;
    margin-top: 50px;
    background-color: white;
    opacity: 100;
}

.kinal img{
    border-radius: 8px;
    margin-left: 50px;
    height: 400px;
    width: 400px;
}

.Portada{
    background-color: rgb(0, 40, 85);
    margin:10px;
    border-radius: 10px 10px 120px;
}

.imagenSpecial img{
    display: flex;
}

.tabla2{
    padding-left: 19%;
}

.table3{
    padding-left: 40%;
}