body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(252,176,69,1) 0%, rgba(122,54,89,1) 43%, rgba(26,26,46,1) 100%);
}

.encabezado{
    text-align: center;
    display: flex;

}

.Titulo{
    align-items: center;
    font-size: 20px;
    color: white;
}

nav{
    display: flex;
    height: 100px;
    background: rgb(26,26,46);
    background: linear-gradient(90deg, rgba(26,26,46,1) 51%, rgba(131,149,194,1) 100%, rgba(252,176,69,1) 100%, rgba(131,58,180,1) 100%);
    border-radius: 10px;
    justify-content: space-between;
}

a{
    margin-right: 10px;
    padding: 10px 20px;
    border: 2px solid #fefefe;
    text-transform: uppercase;
    color: #fefefe;
    font-weight: 600;
    font-size: 10px;
}

.navegacion a{
    text-decoration: none;
}

.navegacion{
    display: flex;
    align-items: flex-end;
    text-decoration: none;
}

.imagen{
    padding: 10px;
    width: 80px;
    height: 80px;
}

.Contenido{
    
}